*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
    margin: unset;
    padding: unset;
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

:focus:not(:focus-visible) {
    outline: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

/* * Takes off padding from lists outside of articles */
menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

/* * Links */
a {
    text-decoration-thickness: 8;
    text-underline-offset: 0.2rem;
}

/* * Enforces cursor */
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
}